*{
    background-color: rgb(229, 235, 235);
}
body {
    text-align: center;
  }
  .btn {
    width: 100px;
    height: 100px;
    border-radius:  0px;
    margin: 8px;
    background-color: rgb(15, 145, 238);
    border: none;
  }
  .img_pc{
    height: 75px;
  }